apiVersion: v1
kind: Service
metadata:
  name: hotel-api
  labels:
    app: hotel-api
spec:
  # if your cluster supports it, uncomment the following to automatically create
  # an external load-balanced IP for the frontend service.
  type: LoadBalancer
  ports:
  - port: 8090
  selector:
    app: hotel-api
